@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin);
@supports ((-webkit-hyphens:auto) or (hyphens:auto)) {
	section p {
		text-align: justify;
		-webkit-hyphens: auto; /* A día de hoy aún es necesario el prefijo para soportar a Safari */
		hyphens: auto;
	}
}

body {
  margin: unset;
  padding: unset;
  display: flex;
  font-family: "Courier New", Courier, monospace;
}
body p {
  font-family: Lato, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
  Verdana, Tahoma, sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #33363d;
  width: 320px;
  top: 0;
  bottom: 0;
}
.nav-fixed {
  display: flex;
  position: fixed;
  flex-direction: column;
  margin: 20px 16px;
}
nav div header {
  display: flex;
  color: white;
}
nav div header span {
  color: white;
  margin: 0 10px;
}
nav div a span {
  font-size: larger;
  margin: 0 10px;
}
nav div a {
  color: white;
  margin: 10px;
  font-size: larger;
  font-family: Lato, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    Verdana, Tahoma, sans-serif;
  text-decoration: none;
}
main {
  width: 80%;
  margin: auto;
}

header {
  font-size: xx-large;
  font-weight: bold;
  margin: 10px;
}
code {
  font-family: monospace;
  display: flex;
  background-color: #f2f2f2;
  color: #33363d;
  font-size: large;
  padding: 20px;
  margin: 6px 0px;
}


section {
  background-color: white;
  padding: 5px 30px;
}
section h3 {
  margin: 10px;
}

section > p {
  margin: 10px;
  color: #34383a;
}
section ul > li {
  margin: 10px;
  font-weight: bolder;
  color: #34383a;
}

.description-list {
  font-family: Lato, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    Verdana, Tahoma, sans-serif;
  font-weight: 300;
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  nav {
    width: 80px;
  }
  nav header span {
    font-size: xx-large;
  }
  nav header {
    font-size: 0;
    margin: 10px 0;
  }
  .nav-fixed a ::before {
    font-size: x-large;
  }
  .nav-fixed a {
    margin: 10px 0;
    font-size: 0;
  }
  .nav-fixed {
    margin: 0;
    text-align: center;
    padding: 0 5px;
  }
  section {
    padding: 5px 20px;
  }
  section header {
    font-size: larger;
  }
  section p {
   margin: 5px 0;
  }
  section h3 {
    margin: 15px auto;
  }
  section ul {
    padding: 0;
  }
  section ul li {
    margin-left: 18px;
  }
}

@media  screen and (min-width: 661px) {
  .nav-fixed {
    margin: 2.2em;
  }
}